<%= javascript_include_tag "tops.js" %>
<div class="audio", id="audio">
  <audio id="sounds" src="assets/レトロショータイム.mp3" preload="auto">
  </audio>
  <button type="button">テスト</button>
</div>
<br>
<br>
<div class="audio2", id = "audio2">
  <audio id = "sounds2" src = "assets/retrocut.mp3" preload="auto">
  </audio>
  <%= button_to "本仕様",{action: 'ima'}, remote: true %>
</div>
<br>
<%= link_to 'ユーザー作成', new_user_path %>
<br>
<% if logged_in? %>
  <%= link_to 'ログアウト', logout_path, method: :delete %>
<% else %>
  <%= link_to 'ログイン', login_path %>
<% end %>

<br>
<br>
<input id='ima' type='hidden'>
<% if logged_in? %>
  <%= button_tag 'コンフィグを設定', type: "button", id: "button1" %>
  <div id="message"></div>
  <div id="button_area"></div>


<%end%>

<script>
sounds2.addEventListener('ended', function () {
  const text = document.getElementById("ima").value;
  const uttr = new SpeechSynthesisUtterance();
  uttr.text = text;
  window.speechSynthesis.speak(uttr);
});

$(document).ready(function () {

  $("#load_area").load("partial/_config");

  $("#button1").click(function () {
    loadPartialView('partial/_config');
  });
});

function loadPartialView(loadPath) {
  $("#button_area").load(loadPath, function (response) {
  });
}

</script>
