
<br>
<br>
<div class="content">
  <div class="audio", id = "audio">
    <audio id = "sounds" src = "assets/y2mate.com.wav" preload="auto">
    </audio>
    <%= button_to "教えて桑田佳祐！",{action: 'ima'}, {remote: true, class: 'flat border'} %>
  </div>
<br>
  <% if not logged_in? %>
    <%= link_to 'ユーザー作成', new_user_path %>
  <% end %>
<br>
  <% if logged_in? %>
    <%= link_to 'ログアウト', logout_path, method: :delete %>
  <% else %>
    <%= link_to 'ログイン', login_path %>
  <% end %>
</div>
<br>
<br>
<input id='ima' type='hidden'>



<!--<% if logged_in? %>
  <%= button_tag 'コンフィグを設定', type: "button", id: "button1" %>
  <div id="message"></div>
  <div id="button_area"></div>
<%end%> -->





<script>
sounds.addEventListener('ended', function () {
  const text = document.getElementById("ima").value;
  const uttr = new SpeechSynthesisUtterance();
  uttr.text = text;
  window.speechSynthesis.speak(uttr);
});

</script>
